* {
  margin: 0;
  padding: 0;
  font-family: Garamond, serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FFF7F4;
}

.mainContainer {
  width: 90%;
  margin: auto;
}

.subContainer {
  display: flex;
  justify-content: space-between;
}

.subContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 50px;
  width: 1800px;
}

.subContainer2 h3 {
  font-family: 'Cutive Mono', monospace;
}


/*Navigation Bar*/
.navBar {
  margin: 0px 60px auto;
  display: flex;
  align-items: center;
}

#logo {
  height: 100px;
  width: auto;
  margin: 30px auto;
}

.navBar ul {
  flex: 1;
  padding-left: 60px;
}

.navBar li {
  display: inline-block;
  margin: 0 25px;
  list-style: none;
}

.navBar ul li {
  padding: 0 10px;
  position: relative;
  font-size: 16pt;
  font-weight: bold;
}

.navBar a {
  color: #FFF7F4;
  text-decoration: none;
}

.navBar a:hover {
  color: #F5BA41;
}


/*Profile Section*/
#profile{
  width: 100%;
  height: 350px;
  margin: 0;
  padding: 0;
  background:url("https://images.pexels.com/photos/4342004/pexels-photo-4342004.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.ireen{
  border-radius: 50%;
  border: solid 6px #F5BA41;
  width: 10%;
  height: auto;
  position: absolute;
  top: 270px;
  left: 60px;
  font-size: 18px;
}


/*General Bio*/
#generalBio {
  font-size: 18px;
}

.data {
  color: #9E9893; 
  font-size: 16px; 
}


/*Memories and Hobbies Section*/
#memories {
  width: 600px;
  height: 1670px;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  background-color: #D9D7CC;
}

#memories h3 {
  color: #BF6860;
  font-family: 'Fredericka the Great', cursive;
}

#memories p {
  font-family: 'Amita', cursive;
  font-size: 14px;
}


/*Button*/
.button {
  background-color: #F2C879;
  border: none;
  color: #8C7669;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.button:hover {
  background-color: #8C7669;
  color: #F2C879;
}


/*Connections Section*/
#connections {
  height: 150px;
  font-size: 18px;
}

.friends {
  display: flex;
  justify-content: space-around;
}

.people {
  width: 60px;
  height: 60px;
  border: solid 4px #F5BA41;
  border-radius: 50%;
}

.names {
  display: flex;
  justify-content: space-around;
  padding: 5px 0px;
}


/*Gallery Section*/
#photoGallery {
  font-size: 18px;
  margin-top: 20px;
}

.postIcons {
  width: 25%;
  height: auto;
}

.details {
  font-size: 14px;
  color: #9E9893;
}

.post {
  max-width: 100%;
  height: auto;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.caption {
  font-size: 16px;
  font-family: 'Stylish', sans-serif;
  padding: 10px 20px;
  font-weight: bold;
}


/*Grid Feature*/
.container {
  display: grid;
  gap: 1.0rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
}

.thumbnail {
  max-width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}


/*Footer*/
footer {
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  background-color: #393C48; 
  height: 140px;
  color: white;
  font-weight: bold;
  font-size: 14pt;
}



/* Polaroid Color Theme Swatches in Hex */
.the-polaroids-1-hex { color: #504A59; }
.the-polaroids-2-hex { color: #222226; }
.the-polaroids-3-hex { color: #D9D7CC; }
.the-polaroids-4-hex { color: #BF9B8E; }
.the-polaroids-5-hex { color: #A6837B; }

/*Daisies Color Theme Swatches in Hex */
.Hand-of-woman-holding-fresh-white-daisies-in-green-meadow-in-background-1-hex { color: #1D402C; }
.Hand-of-woman-holding-fresh-white-daisies-in-green-meadow-in-background-2-hex { color: #F2B05E; }
.Hand-of-woman-holding-fresh-white-daisies-in-green-meadow-in-background-3-hex { color: #D98841; }
.Hand-of-woman-holding-fresh-white-daisies-in-green-meadow-in-background-4-hex { color: #BF8275; #F5BA41;}
.Hand-of-woman-holding-fresh-white-daisies-in-green-meadow-in-background-5-hex { color: #BF6860; }

